Repository bounswe/bounswe2024group1, pull requests merged in 2024-12, with the labels that each got.

#582 [Lab] Lab 8
  backend/pom.xml
  backend/src/main/resources/postman_collection/CMPE451-Backend.postman_collection.json
  backend/src/main/resources/postman_collection/README.MD
Labels: type: documentation, priority: high, type: tracker

#597 Bugfix for questionCount.
  backend/src/main/java/com/group1/programminglanguagesforum/Services/TagService.java
Labels: component: backend

#613 [Frontend] Implement Code Block Popover
  frontend/src/components/CreateAnswerForm.test.tsx
  frontend/src/components/CreateAnswerForm.tsx
Labels: component: frontend

#612 [Frontend] Add difficulty filter to Tag Page
  frontend/src/components/DifficultyFilter.tsx
  frontend/src/routes/create-question.tsx
  frontend/src/routes/tag.tsx
  frontend/src/services/api/programmingForumSchemas.ts
  mobile/app/question/new.tsx
  mobile/services/api/programmingForumSchemas.ts
  swagger/openapi.yml
Labels: component: frontend

#615 [Frontend] Implement Question search
  frontend/src/components/QuestionCard.tsx
  frontend/src/components/SearchBar.test.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/components/SearchQuestionsList.tsx
  frontend/src/components/SearchTagsList.tsx
  frontend/src/routes/search.tsx
  frontend/tests/setup.ts
Labels: component: frontend

#620 [Backend] Fix question DTO field
  backend/src/main/java/com/group1/programminglanguagesforum/Config/ModelMapperConfig.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GetQuestionWithTagDto.java
  frontend/src/components/ExerciseCard.tsx
  frontend/src/components/HighlightedQuestionCard.tsx
  frontend/src/components/HighlightedQuestionsBox.tsx
  frontend/src/components/QuestionCard.tsx
  frontend/src/components/TagCard.tsx
  frontend/src/routes/feed.tsx
  frontend/src/routes/profile.tsx
  frontend/src/routes/tag.tsx
  frontend/src/services/api/programmingForumSchemas.ts
  mobile/app/(tabs)/profile.tsx
  mobile/app/tags/[tagId].tsx
  mobile/services/api/programmingForumSchemas.ts
  swagger/openapi.yml
Labels: component: backend

#621 [Frontend] Implement Difficulty Filter in the Question Search Page
  frontend/src/components/DifficultyFilter.tsx
  frontend/src/components/SearchQuestionsList.tsx
Labels: component: frontend

#623 [Deploy] Deploy to Production
  .github/workflows/frontend_test.yml
  backend/pom.xml
  backend/src/main/java/com/group1/programminglanguagesforum/Config/ModelMapperConfig.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/UserController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GetAnswerDtoForProfile.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GetQuestionWithTagDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/SelfProfileResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/AnswerRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/QuestionRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/AnswerService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/QuestionService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/TagService.java
  backend/src/main/resources/postman_collection/CMPE451-Backend.postman_collection.json
  backend/src/main/resources/postman_collection/README.MD
  frontend/src/components/CreateAnswerForm.test.tsx
  frontend/src/components/CreateAnswerForm.tsx
  frontend/src/components/DifficultyFilter.tsx
  frontend/src/components/ExerciseCard.tsx
  frontend/src/components/HighlightedQuestionCard.tsx
  frontend/src/components/HighlightedQuestionsBox.tsx
  frontend/src/components/QuestionCard.tsx
  frontend/src/components/SearchBar.test.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/components/SearchQuestionsList.tsx
  frontend/src/components/SearchTagsList.tsx
  frontend/src/components/TagCard.tsx
  frontend/src/routes/create-question.tsx
  frontend/src/routes/feed.tsx
  frontend/src/routes/profile.tsx
  frontend/src/routes/search.tsx
  frontend/src/routes/tag.tsx
  frontend/src/services/api/programmingForumSchemas.ts
  frontend/tests/setup.ts
  mobile/app/(tabs)/profile.tsx
  mobile/app/question/new.tsx
  mobile/app/tags/[tagId].tsx
  mobile/components/QuestionCard.tsx
  mobile/services/api/programmingForumSchemas.ts
  swagger/openapi.yml
Labels: priority: medium

#625 Fix code exec. response
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/CodeExecutionController.java
Labels: component: backend

#626 Fix question related endpoints to retrieve difficulty level.
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GetQuestionDetailsResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/QuestionService.java
Labels: component: backend

#628 Add followed tags to users' profile responses.
  backend/src/main/java/com/group1/programminglanguagesforum/Config/ModelMapperConfig.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/UserController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/SelfProfileResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/UserProfileResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/TagRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/TagService.java
Labels: component: backend

#632 Add Code Snippets to Question
  dev.yml
  frontend/src/routes/question.tsx
Labels: component: frontend

#634 Add preview to question
  frontend/src/routes/create-question.tsx
Labels: priority: medium, component: frontend

#635 [BE] Feature/630 get bookmarked questions
  backend/src/main/java/com/group1/programminglanguagesforum/Config/ModelMapperConfig.java
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/BookmarkController.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/BookmarkRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/BookmarkService.java
  backend/src/test/java/com/group1/programminglanguagesforum/Services/BookmarkServiceTests.java
  swagger/openapi.yml
Labels: component: backend

#639 [BE] Fix/638-bookmark
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/BookmarkController.java
  backend/src/main/java/com/group1/programminglanguagesforum/Exceptions/ExceptionResponseHandler.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/BookmarkService.java
  swagger/openapi.yml
Labels: type: bug, component: backend

#643 Implemented reputationPoints flow.
  backend/src/main/java/com/group1/programminglanguagesforum/Config/ModelMapperConfig.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/UserController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/SelfProfileResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/UserProfileResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Answer.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Question.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/QuestionRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/UserService.java
Labels: component: backend

#645 Add Difficulty Rating to Questions
  frontend/src/components/DifficultyBar.tsx
  frontend/src/routes/question.test.tsx
  frontend/src/routes/question.tsx
  frontend/src/services/api/programmingForumComponents.ts
  swagger/openapi.yml
Labels: component: frontend

#646 [Frontend] Followed tags in profile
  frontend/src/routes/profile.tsx
  frontend/src/routes/question.test.tsx
  frontend/src/routes/question.tsx
  frontend/src/services/api/programmingForumSchemas.ts
  mobile/services/api/programmingForumSchemas.ts
  swagger/openapi.yml
Labels: component: frontend

#648 Fix Accessibility Issues
  frontend/src/components/AnswerCard.tsx
  frontend/src/components/AnswerItem.tsx
  frontend/src/components/CodeSnippet.tsx
  frontend/src/components/DifficultyBar.tsx
  frontend/src/components/DifficultyFilter.tsx
  frontend/src/components/ExerciseCard.tsx
  frontend/src/components/HighlightedQuestionCard.tsx
  frontend/src/components/QuestionCard.tsx
  frontend/src/components/Tag.tsx
  frontend/src/components/TagCard.tsx
  frontend/src/routes/create-question.tsx
  frontend/src/routes/feed.tsx
  frontend/src/routes/profile.tsx
  frontend/src/routes/question.tsx
  frontend/src/routes/tag.tsx
  mobile/app/question/[questionId].tsx
  mobile/components/AnswerCard.tsx
  mobile/components/AnswerItem.tsx
  mobile/components/QuestionCard.tsx
  mobile/components/ui/card/styles.tsx
Labels: type: bug, priority: high, component: frontend

#659 [Mobile] Home Page
  mobile/app/(tabs)/index.tsx
  mobile/components/Feed.tsx
  mobile/components/QuestionsList.tsx
  mobile/components/TagList.tsx
Labels: component: mobile

#670 [DevOps] Migrate DigitalOcean account
  .github/workflows/prod_deploy.yml
  README.md
Labels: component: backend, component: devops

#671 [Deploy] Test deploy
  .github/workflows/prod_deploy.yml
  README.md
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/TagController.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/TagRepository.java
  frontend/src/components/AnswerCard.tsx
  frontend/src/components/AnswerItem.tsx
  frontend/src/components/CodeSnippet.tsx
  frontend/src/components/DifficultyBar.tsx
  frontend/src/components/DifficultyFilter.tsx
  frontend/src/components/ExerciseCard.tsx
  frontend/src/components/HighlightedQuestionCard.tsx
  frontend/src/components/QuestionCard.tsx
  frontend/src/components/Tag.tsx
  frontend/src/components/TagCard.tsx
  frontend/src/routes/create-question.tsx
  frontend/src/routes/feed.tsx
  frontend/src/routes/profile.tsx
  frontend/src/routes/question.tsx
  frontend/src/routes/tag.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/question/[questionId].tsx
  mobile/app/tags/[tagId].tsx
  mobile/components/AnswerCard.tsx
  mobile/components/AnswerItem.tsx
  mobile/components/Feed.tsx
  mobile/components/QuestionCard.tsx
  mobile/components/QuestionsList.tsx
  mobile/components/TagList.tsx
  mobile/components/ui/card/styles.tsx
  mobile/services/api/programmingForumComponents.ts
  mobile/services/api/programmingForumSchemas.ts
  swagger/openapi.yml
Labels: component: backend, component: frontend, component: devops, component: mobile

#624 [FE] Implement Tag and Question References for Answer Creation
  frontend/src/components/ContentWithSnippets.tsx
  frontend/src/components/CustomAnchor.tsx
Labels: priority: medium, component: frontend

#672 [Frontend] Folow/Unfollow Tags
  frontend/src/components/TagFollowButton.tsx
  frontend/src/routes/tag.test.tsx
  frontend/src/routes/tag.tsx
Labels: type: enhancement, priority: high, component: frontend

#673 [Frontend] Show Execution Time
  frontend/src/components/CodeSnippet.tsx
Labels: type: enhancement, priority: medium, component: frontend

#674 [Frontend] Implement Bookmark button
  frontend/src/components/BookmarkButton.tsx
  frontend/src/routes/question.test.tsx
  frontend/src/routes/question.tsx
Labels: type: enhancement, priority: high, component: frontend

#675 Implement Question Edit
  frontend/src/components/HighlightedQuestionCard.tsx
  frontend/src/components/HighlightedQuestionsBox.tsx
  frontend/src/routes/profile.tsx
  frontend/src/routes/question.test.tsx
  frontend/src/routes/question.tsx
  frontend/src/routes/tag.tsx
  frontend/src/services/api/programmingForumSchemas.ts
  swagger/openapi.yml
Labels: priority: medium, component: frontend

#677 [Backend] Fix Self Following Field in Tag Details
  backend/src/main/java/com/group1/programminglanguagesforum/Services/TagService.java
  backend/src/test/java/com/group1/programminglanguagesforum/Services/TagServiceTests.java
Labels: component: backend

#678 [Deploy] Test deploy
  README.md
  backend/openapi.yaml
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/QuestionController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GetTagDetailsResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/TagRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/QuestionService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/TagService.java
  backend/src/test/java/com/group1/programminglanguagesforum/Services/TagServiceTests.java
  frontend/src/components/AnswerCard.tsx
  frontend/src/components/AnswerItem.tsx
  frontend/src/components/BookmarkButton.tsx
  frontend/src/components/CodeSnippet.tsx
  frontend/src/components/ContentWithSnippets.tsx
  frontend/src/components/CustomAnchor.tsx
  frontend/src/components/ExerciseCard.tsx
  frontend/src/components/HighlightedQuestionCard.tsx
  frontend/src/components/HighlightedQuestionsBox.tsx
  frontend/src/components/QuestionCard.tsx
  frontend/src/components/TagCard.tsx
  frontend/src/components/TagFollowButton.tsx
  frontend/src/routes/profile.tsx
  frontend/src/routes/question.test.tsx
  frontend/src/routes/question.tsx
  frontend/src/routes/tag.test.tsx
  frontend/src/routes/tag.tsx
  frontend/src/services/api/programmingForumSchemas.ts
  mobile/app/question/[questionId].tsx
  mobile/components/AnswerCard.tsx
  mobile/components/AnswerItem.tsx
  mobile/components/ui/card/styles.tsx
  swagger/openapi.yml
Labels: component: devops

#680 Added default profile picture
  frontend/src/assets/placeholder_profile.png
  frontend/src/components/AnswerCard.tsx
  frontend/src/components/AnswerItem.tsx
  frontend/src/components/HighlightedQuestionCard.tsx
  frontend/src/components/QuestionCard.tsx
  frontend/src/routes/profile.tsx
  frontend/src/routes/question.test.tsx
  frontend/src/routes/question.tsx
  frontend/src/services/api/programmingForumSchemas.ts
  frontend/src/services/temporaryMocks.ts
  mobile/app/(tabs)/profile.tsx
  mobile/app/question/[questionId].tsx
  mobile/assets/images/placeholder_profile.png
  mobile/components/AnswerCard.tsx
  mobile/components/AnswerItem.tsx
  mobile/components/QuestionCard.tsx
  mobile/services/api/programmingForumSchemas.ts
  mobile/services/temporaryMocks.ts
Labels: priority: medium, component: frontend

#688 Frontend/feature/fix tag badge routing
  frontend/src/routes/question.tsx
Labels: type: bug, component: frontend

#682 [Backend] Fix follower count in Tags
  backend/src/main/java/com/group1/programminglanguagesforum/Services/TagService.java
  backend/src/test/java/com/group1/programminglanguagesforum/Services/TagServiceTests.java
Labels: component: backend

#684 [Frontend] Implement Bookmark Page
  frontend/src/routes/bookmarks.test.tsx
  frontend/src/routes/bookmarks.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/profile.test.tsx
  frontend/src/routes/profile.tsx
Labels: type: enhancement, priority: high, component: frontend

#686 [Frontend] Show reputation points in profile page
  frontend/src/routes/profile.test.tsx
  frontend/src/routes/profile.tsx
Labels: type: enhancement, priority: high, component: frontend

#685 627 [BACKEND] GET users/{userid} should return answers, questions, and followed tags for that user
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/UserController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/UserProfileResponseDto.java
Labels: type: enhancement, priority: medium, component: backend

#694 [FE] Implement Glossary Page and Tag Type Pages
  frontend/src/components/SubtypeCard.tsx
  frontend/src/components/TagType.tsx
  frontend/src/routes/glossary.test.tsx
  frontend/src/routes/glossary.tsx
  frontend/src/routes/index.tsx
Labels: priority: high, component: frontend

#696 [Frontend] Fix Bookmarks Page
  frontend/src/components/TagType.tsx
  frontend/src/routes/bookmarks.test.tsx
  frontend/src/routes/bookmarks.tsx
  frontend/src/services/temporaryMocks.ts
Labels: component: frontend

#691 [Backend] Sort Questions by Followed Users
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/QuestionController.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/QuestionRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/QuestionService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/UserService.java
  frontend/src/components/SearchBar.tsx
  frontend/src/components/SearchQuestionsList.tsx
  frontend/src/services/api/programmingForumComponents.ts
  frontend/src/services/api/programmingForumSchemas.ts
  swagger/openapi.yml
Labels: type: enhancement, priority: high, component: backend

#695 [Mobile] Profile Page
  mobile/.expo/types/router.d.ts
  mobile/app/(tabs)/profile.tsx
  mobile/app/me/bookmarks.tsx
  mobile/app/tags/[tagId].tsx
  mobile/app/users/[userId].tsx
  mobile/components/Feed.tsx
  mobile/components/QuestionCard.tsx
  mobile/components/QuestionsList.tsx
  mobile/components/UserProfile.tsx
Labels: component: mobile

#692 [Frontend] Use sr-only text
  frontend/src/components/FullscreenLoading.tsx
  frontend/src/components/SearchQuestionsList.tsx
  frontend/src/components/SearchTagsList.tsx
  frontend/src/components/Tags.tsx
  frontend/src/routes/bookmarks.tsx
  frontend/src/routes/profile.test.tsx
  frontend/src/routes/search.test.tsx
  frontend/src/routes/tag.tsx
Labels: type: enhancement, priority: medium, component: frontend

#697 [Frontend] Add loading screen to TagType Page
  frontend/src/components/TagType.tsx
Labels: type: enhancement, priority: medium, component: frontend

#701 [Mobile] Sort Recommended Order
  mobile/app/question/[questionId].tsx
  mobile/app/question/[questionId]/answer.tsx
  mobile/app/question/new.tsx
  mobile/app/tags/[tagId].tsx
  mobile/components/Feed.tsx
  mobile/components/QuestionsList.tsx
  mobile/services/api/programmingForumComponents.ts
  mobile/services/api/programmingForumSchemas.ts
Labels: component: mobile

#703 [Hotfix] Fix some backend/frontend bugs
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/QuestionDifficultyRateRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/QuestionDifficultyRateService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/QuestionService.java
  frontend/src/components/AnswerCard.tsx
  frontend/src/components/AnswerItem.tsx
  frontend/src/components/Answers.test.tsx
  frontend/src/components/Answers.tsx
  frontend/src/components/DifficultyBar.tsx
  frontend/src/components/SubtypeCard.tsx
  frontend/src/components/TagType.tsx
  frontend/src/index.css
  frontend/src/routes/home.tsx
  frontend/src/routes/question.tsx
  mobile/components/QuestionCard.tsx
Labels: type: bug, component: backend, component: frontend

#705 Enhance New Question and New Answer Screens
  mobile/app/question/[questionId]/answer.tsx
  mobile/app/question/new.tsx
  mobile/components/PostingGuide.tsx
Labels: component: mobile

#706 [Frontend] UX improvements
  frontend/src/routes/profile.tsx
  frontend/src/routes/tag.tsx
Labels: type: bug, priority: low, component: frontend
