Repository bounswe/bounswe2024group1, pull requests merged in 2024-05, with the labels that each got.

#122 chore(devops): improve development compose, add more docs
  README.md
  compose.yml
  dev.yml
  docker-compose.dev.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/vite.config.ts
  mock.yml
  package.json
Labels: component: backend

#143 Update OpenAPI spec to v1.0.3 with new endpoints and changes
  frontend/src/services/api/semanticBrowseComponents.ts
  frontend/src/services/api/semanticBrowseResponses.ts
  frontend/src/services/api/semanticBrowseSchemas.ts
  swagger/openapi.yml
Labels: type: documentation, priority: medium, type: chore, component: backend

#162 Implemented search/users endpoint
  backend/src/main/java/com/group1/cuisines/controllers/SearchController.java
  backend/src/main/java/com/group1/cuisines/controllers/UserController.java
  backend/src/main/java/com/group1/cuisines/entities/User.java
  backend/src/main/java/com/group1/cuisines/repositories/UserRepository.java
  backend/src/main/java/com/group1/cuisines/services/UserService.java
  backend/src/main/resources/application.properties
Labels: component: backend

#164 /users/follow endpoint implemented.
  backend/src/main/java/com/group1/cuisines/controllers/UserController.java
  backend/src/main/java/com/group1/cuisines/entities/User.java
  backend/src/main/java/com/group1/cuisines/repositories/UserRepository.java
  backend/src/main/java/com/group1/cuisines/services/UserService.java
  backend/src/main/resources/application.properties
Labels: type: enhancement, priority: high, component: backend

#166 /users/unfollow endpoint implemented.
  backend/src/main/java/com/group1/cuisines/controllers/UserController.java
  backend/src/main/java/com/group1/cuisines/services/UserService.java
Labels: component: backend

#168 /follow & /unfollow endpoints now take Path variable (userId)
  backend/src/main/java/com/group1/cuisines/controllers/UserController.java
Labels: component: backend

#170 "/{userId}/following" endpoint implemented.
  backend/src/main/java/com/group1/cuisines/controllers/UserController.java
  backend/src/main/java/com/group1/cuisines/dto/UserDto.java
  backend/src/main/java/com/group1/cuisines/services/UserService.java
Labels: component: backend

#172 "/{userId}/followers" endpoint implemented.
  backend/src/main/java/com/group1/cuisines/controllers/UserController.java
  backend/src/main/java/com/group1/cuisines/services/UserService.java
Labels: component: backend

#181 POST "/recipes" endpoint implemented.
  backend/src/main/java/com/group1/cuisines/controllers/RecipeController.java
  backend/src/main/java/com/group1/cuisines/dto/IngredientsDto.java
  backend/src/main/java/com/group1/cuisines/dto/NewRecipeDto.java
  backend/src/main/java/com/group1/cuisines/dto/RecipeDetailDto.java
  backend/src/main/java/com/group1/cuisines/entities/Recipe.java
  backend/src/main/java/com/group1/cuisines/repositories/DishRepository.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
Labels: component: backend

#183 DELETE "/recipes" endpoint implemented.
  backend/src/main/java/com/group1/cuisines/config/SecurityConfiguration.java
  backend/src/main/java/com/group1/cuisines/controllers/RecipeController.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
  backend/src/main/resources/application.properties
Labels: component: backend

#185 Implemented POST "recipes/{recipe_id} rating endpoint
  backend/src/main/java/com/group1/cuisines/controllers/RecipeController.java
  backend/src/main/java/com/group1/cuisines/dto/RatingDto.java
  backend/src/main/java/com/group1/cuisines/entities/Recipe.java
  backend/src/main/java/com/group1/cuisines/repositories/RatingRepository.java
  backend/src/main/java/com/group1/cuisines/repositories/RecipeRepository.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
Labels: component: backend

#186 POST "/recipes/{recipeId}/bookmarks" endpoint implemented
  backend/src/main/java/com/group1/cuisines/controllers/RecipeController.java
  backend/src/main/java/com/group1/cuisines/repositories/BookmarkRepository.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
Labels: component: backend

#187 GET /recipes/{recipeId}/bookmarks endpoint implemented
  backend/src/main/java/com/group1/cuisines/controllers/RecipeController.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
Labels: component: backend

#189 add frontend github actions
  .github/workflows/frontend.yml
  backend/src/main/resources/application.properties
Labels: status: has failing test, component: frontend

#200 GET /feed endpoint implemented
  backend/src/main/java/com/group1/cuisines/config/SecurityConfiguration.java
  backend/src/main/java/com/group1/cuisines/controllers/FeedController.java
  backend/src/main/java/com/group1/cuisines/entities/User.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
Labels: component: backend

#202 GET users/{userId} endpoint implemented.
  backend/src/main/java/com/group1/cuisines/controllers/UserController.java
  backend/src/main/java/com/group1/cuisines/dao/response/ErrorResponse.java
  backend/src/main/java/com/group1/cuisines/dto/BookmarkDto.java
  backend/src/main/java/com/group1/cuisines/dto/UserProfileDto.java
  backend/src/main/java/com/group1/cuisines/entities/User.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
  backend/src/main/java/com/group1/cuisines/services/UserService.java
Labels: component: backend

#207 Formatting responses for /search (dishes)
  backend/pom.xml
  backend/src/main/java/com/group1/cuisines/controllers/AuthenticationController.java
  backend/src/main/java/com/group1/cuisines/controllers/SearchController.java
  backend/src/main/java/com/group1/cuisines/dto/DishResponseDto.java
  backend/src/main/java/com/group1/cuisines/exceptions/GlobalExceptionHandler.java
  backend/src/main/java/com/group1/cuisines/exceptions/ResourceNotFoundException.java
  backend/src/main/java/com/group1/cuisines/services/AuthenticationService.java
  backend/src/main/java/com/group1/cuisines/services/SearchService.java
  backend/src/test/java/com/group1/cuisines/AuthenticationControllerTest.java
Labels: component: backend

#214 feat(backend): adjust query to search other fields
  backend/src/main/java/com/group1/cuisines/repositories/DishRepository.java
Labels: component: backend

#220 Format response /cuisines/{cuisine id} (Get cuisine details)
  backend/src/main/java/com/group1/cuisines/controllers/CuisineController.java
  backend/src/main/java/com/group1/cuisines/controllers/FeedController.java
  backend/src/main/java/com/group1/cuisines/controllers/RecipeController.java
  backend/src/main/java/com/group1/cuisines/controllers/UserController.java
  backend/src/main/java/com/group1/cuisines/dao/response/ErrorResponse.java
  backend/src/main/java/com/group1/cuisines/dao/response/SuccessResponse.java
Labels: component: backend

#222 Format GET /users/{userId} response reimplemented.
  backend/src/main/java/com/group1/cuisines/dto/AuthorDto.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
  backend/src/main/java/com/group1/cuisines/services/UserService.java
Labels: component: backend

#224 Format GET /users/{userId}/following response
  backend/src/main/java/com/group1/cuisines/controllers/UserController.java
Labels: component: backend

#226 Format GET /users/{userI}/followers response
  backend/src/main/java/com/group1/cuisines/controllers/UserController.java
Labels: component: backend

#228 Format GET /users/follow and /users/unfollow response.
  backend/src/main/java/com/group1/cuisines/controllers/UserController.java
Labels: component: backend

#230 Format GET /search/users response.
  backend/src/main/java/com/group1/cuisines/controllers/SearchController.java
Labels: component: backend

#232 Format response for /feed .
  backend/src/main/java/com/group1/cuisines/controllers/FeedController.java
Labels: component: backend

#235 feat(frontend): create filter label
  frontend/package.json
  frontend/src/components/FilterCheckbox.test.tsx
  frontend/src/components/FilterCheckbox.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/vite-env.d.ts
  frontend/yarn.lock
Labels: component: frontend

#238 feat(frontend): add search filter component
  frontend/src/components/SearchBar.tsx
  frontend/src/components/SearchFilterPopover.test.tsx
  frontend/src/components/SearchFilterPopover.tsx
  frontend/src/components/ui/popover.tsx
Labels: type: enhancement, priority: medium, component: frontend

#244 Frontend/feature/151 recipe page
  frontend/package.json
  frontend/src/assets/Icon/General/Bookmark.svg
  frontend/src/assets/Icon/General/Filter.svg
  frontend/src/assets/Icon/General/Link.svg
  frontend/src/components/ErrorAlert.tsx
  frontend/src/components/RatingInput.test.tsx
  frontend/src/components/RatingInput.tsx
  frontend/src/components/SearchFilterPopover.test.tsx
  frontend/src/components/SearchFilterPopover.tsx
  frontend/src/components/ui/accordion.tsx
  frontend/src/index.css
  frontend/src/routes/index.tsx
  frontend/src/routes/recipe.tsx
  frontend/src/routes/search.tsx
  frontend/src/services/api/semanticBrowseFetcher.ts
  frontend/src/services/api/semanticBrowseSchemas.ts
  frontend/tailwind.config.js
  frontend/yarn.lock
  swagger/openapi.yml
Labels: component: frontend, component: devops

#246 Format response for /follow /unfollow endpoints (isFollowing field)
  backend/src/main/java/com/group1/cuisines/controllers/SearchController.java
  backend/src/main/java/com/group1/cuisines/controllers/UserController.java
  backend/src/main/java/com/group1/cuisines/dto/UserDto.java
  backend/src/main/java/com/group1/cuisines/dto/UserProfileDto.java
  backend/src/main/java/com/group1/cuisines/services/UserService.java
Labels: component: backend

#245 Backend/feature/243 recipe user rating
  backend/src/main/java/com/group1/cuisines/config/JwtAuthenticationFilter.java
  backend/src/main/java/com/group1/cuisines/config/SecurityConfiguration.java
  backend/src/main/java/com/group1/cuisines/controllers/RecipeController.java
  backend/src/main/java/com/group1/cuisines/dto/RecipeDetailsDto.java
  backend/src/main/java/com/group1/cuisines/repositories/RatingRepository.java
  backend/src/main/java/com/group1/cuisines/services/AuthenticationService.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
  backend/src/main/java/com/group1/cuisines/services/UserService.java
Labels: component: backend

#249 Frontend/feature/154 my profile
  frontend/package.json
  frontend/src/assets/Icon/General/Plus.svg
  frontend/src/components/Comment.tsx
  frontend/src/components/NavbarLayout.tsx
  frontend/src/components/Recipe.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/components/SearchFilterPopover.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/index.css
  frontend/src/routes/feed.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/profile.tsx
  frontend/src/routes/recipe.tsx
  frontend/src/routes/search.tsx
  frontend/src/services/api/semanticBrowseSchemas.ts
  frontend/yarn.lock
  swagger/openapi.yml
Labels: component: frontend

#253 Backend/feature/233 search controller unit tests
  .github/workflows/frontend.yml
  .github/workflows/frontend_deploy_staging.yml
  backend/src/test/java/com/group1/cuisines/SearchControllerTests.java
Labels: priority: high, component: backend

#251 feat(backend): detailed my profile page
  backend/src/main/java/com/group1/cuisines/controllers/RecipeController.java
  backend/src/main/java/com/group1/cuisines/controllers/UserController.java
Labels: component: backend

#265 feat(backend): add amount of ingredients
  backend/src/main/java/com/group1/cuisines/dto/IngredientsDto.java
  backend/src/main/java/com/group1/cuisines/entities/Ingredient.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
  backend/src/main/java/com/group1/cuisines/services/UserService.java
Labels: component: backend

#266 Frontend/feature/157 create recipe
  frontend/package.json
  frontend/src/components/BadgeInput.tsx
  frontend/src/components/IngredientsInput.tsx
  frontend/src/components/InstructionsInput.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/index.css
  frontend/src/routes/create-recipe.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/login.test.tsx
  frontend/src/routes/profile.tsx
  frontend/src/routes/recipe.tsx
  frontend/src/services/api/semanticBrowseComponents.ts
  frontend/src/services/api/semanticBrowseFetcher.ts
  frontend/src/services/api/semanticBrowseSchemas.ts
  frontend/src/services/auth.tsx
  frontend/src/services/query-client.ts
  swagger/openapi.yml
Labels: component: frontend

#270 feat(frontend): add favicon, make homepage=feed
  frontend/index.html
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/browserconfig.xml
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/mstile-144x144.png
  frontend/public/mstile-150x150.png
  frontend/public/mstile-310x150.png
  frontend/public/mstile-310x310.png
  frontend/public/mstile-70x70.png
  frontend/public/safari-pinned-tab.svg
  frontend/public/site.webmanifest
  frontend/src/App.test.tsx
  frontend/src/components/NavbarLayout.tsx
  frontend/src/components/Profile.tsx
  frontend/src/components/Recipe.tsx
  frontend/src/components/SearchFilterPopover.test.tsx
  frontend/src/components/SearchFilterPopover.tsx
  frontend/src/routes/bookmarks.tsx
  frontend/src/routes/feed.tsx
  frontend/src/routes/home.test.tsx
  frontend/src/routes/home.tsx
  frontend/src/routes/login.test.tsx
  frontend/vite.config.ts
Labels: component: frontend

#263 add user controller unit tests
  backend/src/test/java/com/group1/cuisines/UserControllerTest.java
Labels: priority: high, component: backend

#277 Frontend/feature/276 follow button
  backend/src/main/java/com/group1/cuisines/controllers/UserController.java
  frontend/src/components/Bookmarkers.tsx
  frontend/src/components/FollowButton.tsx
  frontend/src/components/NavbarLayout.tsx
  frontend/src/components/Profile.tsx
  frontend/src/components/Recipe.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/routes/bookmarks.tsx
  frontend/src/routes/profile.tsx
  frontend/src/routes/recipe.tsx
Labels: component: backend, component: frontend

#279 feat(frontend): implement bookmark functionality
  frontend/package.json
  frontend/src/components/BookmarkButton.tsx
  frontend/src/components/Recipe.tsx
  frontend/src/routes/recipe.tsx
  frontend/src/services/auth.tsx
Labels: component: frontend

#259 Backend/feature/126 delete bookmark
  backend/src/main/java/com/group1/cuisines/controllers/RecipeController.java
  backend/src/main/java/com/group1/cuisines/entities/Bookmark.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
Labels: component: backend

#280 fix(frontend): remove unused dep, incorrect check (Quick fix)
  frontend/package.json
  frontend/src/components/BookmarkButton.tsx
  frontend/yarn.lock
Labels: component: frontend

#272 Backend/feature/271 refactor recipe
  backend/src/main/java/com/group1/cuisines/controllers/RecipeController.java
  backend/src/main/java/com/group1/cuisines/dto/BookmarkDto.java
  backend/src/main/java/com/group1/cuisines/dto/NewRecipeDto.java
  backend/src/main/java/com/group1/cuisines/dto/RecipeDetailDto.java
  backend/src/main/java/com/group1/cuisines/dto/RecipeDetailsDto.java
  backend/src/main/java/com/group1/cuisines/dto/RecipeDto.java
  backend/src/main/java/com/group1/cuisines/entities/Recipe.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
  backend/src/main/java/com/group1/cuisines/services/UserService.java
Labels: component: backend

#282 Backend/feature/271 refactor recipe
  backend/src/main/java/com/group1/cuisines/dto/NewRecipeDto.java
  backend/src/main/java/com/group1/cuisines/dto/RecipeDetailsDto.java
  backend/src/main/java/com/group1/cuisines/entities/Recipe.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
Labels: component: backend

#281 fix(frontend): add more authentication checks
  frontend/src/App.tsx
  frontend/src/components/BookmarkButton.tsx
  frontend/src/components/Profile.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/recipe.tsx
  frontend/src/services/query-client.ts
Labels: component: frontend

#286 Format responses for POST /comment
  backend/src/main/java/com/group1/cuisines/controllers/RecipeController.java
  backend/src/main/java/com/group1/cuisines/dto/CommentsDto.java
  backend/src/main/java/com/group1/cuisines/dto/NewCommentDto.java
  backend/src/main/java/com/group1/cuisines/entities/Comment.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
Labels: component: backend

#288 fix(backend): make dishes nullable
  backend/src/main/java/com/group1/cuisines/dto/DishDto.java
  backend/src/main/java/com/group1/cuisines/entities/Recipe.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
  backend/src/main/java/com/group1/cuisines/services/UserService.java
Labels: component: backend

#292 feat(frontend): implement plus recipe button
  frontend/src/components/BookmarkButton.tsx
  frontend/src/components/Dish.tsx
  frontend/src/components/Recipe.tsx
  frontend/src/routes/create-recipe.tsx
  frontend/src/routes/search.tsx
Labels: component: frontend

#295 Backend/feature/294 get dish
  backend/src/main/java/com/group1/cuisines/controllers/DishController.java
  backend/src/main/java/com/group1/cuisines/dto/DishDto.java
  backend/src/main/java/com/group1/cuisines/entities/Dish.java
  backend/src/main/java/com/group1/cuisines/services/CuisineService.java
  backend/src/main/java/com/group1/cuisines/services/DishService.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
  backend/src/main/java/com/group1/cuisines/services/UserService.java
  backend/src/main/java/com/group1/cuisines/services/WikidataService.java
Labels: component: backend

#297 Format response for post /recipes/{recipe id}/comments/{comment id}/upvote endpoint
  backend/src/main/java/com/group1/cuisines/controllers/RecipeController.java
  backend/src/main/java/com/group1/cuisines/dto/UpvoteDto.java
  backend/src/main/java/com/group1/cuisines/entities/Bookmark.java
  backend/src/main/java/com/group1/cuisines/entities/Comment.java
  backend/src/main/java/com/group1/cuisines/entities/Cuisine.java
  backend/src/main/java/com/group1/cuisines/entities/Dish.java
  backend/src/main/java/com/group1/cuisines/entities/Ingredient.java
  backend/src/main/java/com/group1/cuisines/entities/Rating.java
  backend/src/main/java/com/group1/cuisines/entities/Recipe.java
  backend/src/main/java/com/group1/cuisines/entities/Upvote.java
  backend/src/main/java/com/group1/cuisines/entities/User.java
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
Labels: component: backend

#303 feat(backend): update profile details
  backend/src/main/java/com/group1/cuisines/controllers/UserController.java
  backend/src/main/java/com/group1/cuisines/dto/UserProfileDto.java
  backend/src/main/java/com/group1/cuisines/dto/UserUpdateFormDto.java
  backend/src/main/java/com/group1/cuisines/entities/User.java
  backend/src/main/java/com/group1/cuisines/services/UserService.java
Labels: component: backend

#305 fix: quick fix
  frontend/package.json
  frontend/src/components/Dish.tsx
  frontend/src/routes/recipe.tsx
  frontend/src/services/api/semanticBrowseComponents.ts
  frontend/src/services/api/semanticBrowseSchemas.ts
  frontend/yarn.lock
  swagger/openapi.yml
Labels: component: frontend

#299 implemented design for bookmarks page
  mobile/App.tsx
  mobile/assets/bookmarklogo.png
  mobile/assets/bookmarktemp.png
  mobile/assets/temp2.png
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/Bookmarks/Bookmarks.tsx
Labels: priority: critical

#306 Frontend/Feature Dish page and minor fixes
  backend/src/main/java/com/group1/cuisines/services/RecipeService.java
  frontend/package.json
  frontend/src/components/BookmarkButton.tsx
  frontend/src/components/Comment.tsx
  frontend/src/components/CommentSection.tsx
  frontend/src/components/Dish.tsx
  frontend/src/components/Recipe.tsx
  frontend/src/routes/dish.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/recipe.tsx
  frontend/src/services/api/semanticBrowseComponents.ts
  frontend/src/services/auth.tsx
  frontend/src/services/query-client.ts
  frontend/yarn.lock
  swagger/openapi.yml
Labels: component: frontend

#308 fix(frontend): incorrect usage of auth store
  frontend/src/components/Dish.tsx
  frontend/src/services/api/semanticBrowseContext.ts
Labels: component: frontend

#312 feat(backend): test dish controller
  backend/src/test/java/com/group1/cuisines/DishControllerTest.java
Labels: component: backend

#316 Frontend/fix Some quick fixes
  frontend/src/components/BookmarkButton.test.tsx
  frontend/src/components/BookmarkButton.tsx
  frontend/src/components/Recipe.tsx
  frontend/src/routes/create-recipe.tsx
  frontend/src/routes/dish.tsx
  frontend/src/routes/profile.tsx
  frontend/src/services/api/semanticBrowseSchemas.ts
  frontend/src/services/query-client.ts
  mmtf.md
  swagger/openapi.yml
Labels: component: frontend

#317 Backend/fix/313 backend bugs
  backend/src/main/java/com/group1/cuisines/controllers/UserController.java
  backend/src/main/java/com/group1/cuisines/dto/UserUpdateFormDto.java
  backend/src/main/java/com/group1/cuisines/entities/Bookmark.java
  backend/src/main/java/com/group1/cuisines/entities/Comment.java
  backend/src/main/java/com/group1/cuisines/entities/Ingredient.java
  backend/src/main/java/com/group1/cuisines/entities/Rating.java
  backend/src/main/java/com/group1/cuisines/entities/Recipe.java
  backend/src/main/java/com/group1/cuisines/entities/Upvote.java
  backend/src/main/java/com/group1/cuisines/services/UserService.java
  backend/src/test/java/com/group1/cuisines/UserControllerTest.java
Labels: component: backend

#310 fix(devops): setup doctl
  .github/workflows/backend_deploy_staging.yml
Labels: component: devops
