Repository bounswe/bounswe2024group1, pull requests merged in 2024-11, with the labels that each got.

#445 Backend/feature/444 Create SPARQL Queries
  backend/src/main/java/com/group1/programminglanguagesforum/Services/WikidataService.java
Labels: priority: medium, component: backend

#458 Backend Wikidata Service Impl
  backend/pom.xml
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/GeneralConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/ProgrammingLanguagesTag.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/WikidataService.java
Labels: component: backend

#459 GET tags/{tagId} endpoint
  backend/src/main/java/com/group1/programminglanguagesforum/Config/ModelMapperConfig.java
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/TagController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GetProgrammingLanguageTagResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GetProgrammingParadigmResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GetTagDetailsResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/TagType.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/TagService.java
Labels: component: backend

#463 Create Queries for Software Library and Computer Science Term
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/GeneralConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/ComputerScienceTermTag.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/SoftwareLibraryTag.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/WikidataService.java
Labels: component: backend

#464 Implement POST /questions
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/QuestionController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Requests/CreateQuestionRequestDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/AuthorDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/CreateQuestionResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/TagDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Question.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/User.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/TagRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/JwtService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/QuestionService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/TagService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/WikidataService.java
Labels: component: backend

#466 Implement POST /questions/{questionId}/bookmark
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/BookmarkController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/BookmarkQuestionResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Bookmark.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Question.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/BookmarkRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/BookmarkService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/QuestionService.java
Labels: component: backend

#468 Implement POST /tags. Create new tag .
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/TagController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Requests/CreateTagRequestDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Tag.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/TagType.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/TagService.java
Labels: component: backend

#475 Lab 5: PR
  dev.yml
  frontend/package.json
  frontend/src/components/AnswerCard.tsx
  frontend/src/components/AnswerItem.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/ExerciseCard.tsx
  frontend/src/components/NavbarLayout.tsx
  frontend/src/components/QuestionCard.tsx
  frontend/src/components/Tag.tsx
  frontend/src/components/TagCard.tsx
  frontend/src/components/ui/tabs.test.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/index.css
  frontend/src/routes/home.test.tsx
  frontend/src/routes/login.test.tsx
  frontend/src/routes/profile.test.tsx
  frontend/src/routes/profile.tsx
  frontend/src/routes/question.test.tsx
  frontend/src/routes/question.tsx
  frontend/src/routes/search.test.tsx
  frontend/src/routes/signup.test.tsx
  frontend/src/routes/tag.tsx
  frontend/src/utils/test-accessibility.ts
  frontend/tests/setup.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
  frontend/yarn.lock
  mobile/components/AnswerCard.tsx
  mobile/components/AnswerItem.tsx
  mobile/components/ErrorBoundary.tsx
  mobile/components/QuestionCard.tsx
  mobile/components/TagCard.tsx
Labels: type: enhancement, component: backend, component: frontend

#509 Implement POST answer/{answerId}/upvote and answer/{answerId}/downvote
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/VoteController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/AnswerVoteResponseDTO.java
  backend/src/main/java/com/group1/programminglanguagesforum/Exceptions/ExceptionResponseHandler.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/VoteRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/VoteService.java
Labels: component: backend

#474 Implement DELETE bookmark question endpoint
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/BookmarkController.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/BookmarkRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/BookmarkService.java
Labels: component: backend

#513 [Lab] Lab 7 PR
  backend/pom.xml
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Answer.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Question.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/TagService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/VoteService.java
  backend/src/test/java/com/group1/programminglanguagesforum/ProgrammingLanguagesForumApplicationTests.java
  backend/src/test/java/com/group1/programminglanguagesforum/Services/AuthenticationServiceTest.java
  backend/src/test/java/com/group1/programminglanguagesforum/Services/BookmarkServiceTests.java
  backend/src/test/java/com/group1/programminglanguagesforum/Services/CustomUserDetailsServiceTest.java
  backend/src/test/java/com/group1/programminglanguagesforum/Services/QuestionServiceTest.java
  backend/src/test/java/com/group1/programminglanguagesforum/Services/TagServiceTests.java
  backend/src/test/java/com/group1/programminglanguagesforum/Services/UserServiceTest.java
  backend/src/test/java/com/group1/programminglanguagesforum/Services/VoteServiceTests.java
  frontend/src/routes/tag.test.tsx
  frontend/src/routes/tag.tsx
  mobile/app/(tabs)/search.tsx
  mobile/app/question/new.tsx
  mobile/app/tags/[tagId].tsx
  mobile/components/ui/input/index.tsx
Labels: type: learning

#530 Search Tag Endpoint implemented.
  backend/src/main/java/com/group1/programminglanguagesforum/Config/JwtAuthenticationFilter.java
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/TagController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/TagSearchResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/TagRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/TagService.java
Labels: component: backend

#531 Create answer endpoint implemented.
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/AnswerController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Requests/CreateAnswerRequestDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/CreateAnswerResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Answer.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Question.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/AnswerService.java
  backend/src/test/java/com/group1/programminglanguagesforum/Services/TagServiceTests.java
Labels: component: backend

#534 Get Question Detail endpoint implemented.
  backend/src/main/java/com/group1/programminglanguagesforum/Config/SecurityConfiguration.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/QuestionController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GetQuestionDetailsResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/BookmarkRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/BookmarkService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/QuestionService.java
Labels: component: backend

#535 Delete Answer endpoint implemented.
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/AnswerController.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/AnswerService.java
Labels: component: backend

#536 Update an answer endpoint implemented.
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/AnswerController.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/AnswerService.java
Labels: component: backend

#542 Delete a question endpoint implemented.
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/QuestionController.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/QuestionService.java
Labels: component: backend

#543 Update a question endpoint implemented.
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/QuestionController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Requests/UpdateQuestionRequestDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GetQuestionDetailsResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/QuestionService.java
Labels: component: backend

#544 404 Not found error fixed.
  backend/src/main/java/com/group1/programminglanguagesforum/Config/JwtAuthenticationFilter.java
Labels: component: backend

#545 [FE/Mobile] Synchronize API schema
  backend/src/main/java/com/group1/programminglanguagesforum/Services/JwtService.java
  frontend/src/components/HighlightedQuestionCard.tsx
  frontend/src/components/HighlightedQuestionsBox.tsx
  frontend/src/components/QuestionCard.tsx
  frontend/src/components/TagCard.tsx
  frontend/src/routes/question.test.tsx
  frontend/src/routes/question.tsx
  frontend/src/routes/tag.test.tsx
  frontend/src/routes/tag.tsx
  frontend/src/services/api/programmingForumComponents.ts
  frontend/src/services/api/programmingForumFetcher.ts
  frontend/src/services/api/programmingForumSchemas.ts
  mobile/app/question/[questionId].tsx
  mobile/app/tags/[tagId].tsx
  mobile/components/QuestionCard.tsx
  mobile/services/api/programmingForumComponents.ts
  mobile/services/api/programmingForumSchemas.ts
  swagger/openapi.yml
Labels: priority: high, component: frontend, component: mobile

#549 [Mobile] Create Profile Page
  frontend/src/routes/search.tsx
  frontend/src/services/api/programmingForumComponents.ts
  frontend/src/services/api/programmingForumSchemas.ts
  mobile/.expo/types/router.d.ts
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/profile.tsx
  mobile/app/(tabs)/search.tsx
  mobile/app/question/new.tsx
  mobile/components/FullscreenLoading.tsx
  mobile/components/TagCard.tsx
  mobile/services/api/programmingForumComponents.ts
  mobile/services/api/programmingForumFetcher.ts
  mobile/services/api/programmingForumSchemas.ts
  swagger/openapi.yml
Labels: component: mobile

#550 Mobile Question Creation Screen
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/QuestionController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Requests/CreateQuestionRequestDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/CreateQuestionResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/DifficultyLevel.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Question.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/QuestionService.java
  backend/src/test/java/com/group1/programminglanguagesforum/Services/TagServiceTests.java
  mobile/app/question/new.tsx
  mobile/app/tags/[tagId].tsx
  mobile/services/api/programmingForumSchemas.ts
  mobile/services/temporaryMocks.ts
Labels: component: mobile

#558 Get answers for a question endpoint & service implemented.
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/AnswerController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GetAnswersResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/VoteRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/AnswerService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/VoteService.java
Labels: component: backend

#552 Implement User Search Endpoint
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/UserController.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/UserRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/UserService.java
Labels: type: enhancement, priority: medium, component: backend

#560 [Frontend] Added Exercism Recommendations Integration
  frontend/src/components/ExerciseCard.tsx
  frontend/src/routes/question.test.tsx
  frontend/src/routes/question.tsx
  frontend/src/services/exercism.ts
Labels: component: frontend

#562 [FE] Implement Answer Create Form
  backend/src/main/java/com/group1/programminglanguagesforum/Config/SecurityConfiguration.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/QuestionController.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/QuestionService.java
  frontend/src/components/CodeSnippet.tsx
  frontend/src/components/CreateAnswerForm.test.tsx
  frontend/src/components/CreateAnswerForm.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/routes/question.test.tsx
  frontend/src/routes/question.tsx
  frontend/src/routes/tag.tsx
Labels: component: backend, component: frontend

#555 Implement Question Search Endpoint
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/QuestionController.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/UserController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/QuestionSummaryDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/QuestionRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/QuestionService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/UserService.java
Labels: type: enhancement, priority: medium, component: backend

#565 [Deploy] Test deploy
  backend/src/main/java/com/group1/programminglanguagesforum/Services/AnswerService.java
  frontend/src/services/exercism.ts
Labels: component: backend, component: frontend

#566 feat(backend): users can follow/unfollow tags
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/TagController.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Tag.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/User.java
  backend/src/main/java/com/group1/programminglanguagesforum/Exceptions/ExceptionResponseHandler.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/TagService.java
  backend/src/test/java/com/group1/programminglanguagesforum/Services/TagServiceTests.java
Labels: component: backend

#567 feat(backend): add selfVoted for question and answers
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GetAnswersResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GetQuestionDetailsResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/VoteRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/AnswerService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/QuestionService.java
Labels: component: backend

#568 [FE] Implement Tag Create
  frontend/src/components/CreateTagForm.test.tsx
  frontend/src/components/CreateTagForm.tsx
  frontend/src/components/CreateTagPage.test.tsx
  frontend/src/components/CreateTagPage.tsx
  frontend/src/components/NavbarLayout.tsx
  frontend/src/components/Tags.tsx
  frontend/src/routes/index.tsx
Labels: component: frontend

#553 Added Question Creation Page Structure
  dev.yml
  frontend/package.json
  frontend/src/components/ContentWithSnippets.tsx
  frontend/src/components/CreateTagForm.tsx
  frontend/src/components/CreateTagPage.tsx
  frontend/src/components/NavbarLayout.tsx
  frontend/src/components/multi-select.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/routes/create-question.tsx
  frontend/src/routes/index.tsx
  frontend/yarn.lock
Labels: priority: high, component: frontend

#569 [Mobile] Create Answer Page
  mobile/app/question/[questionId].tsx
  mobile/app/question/[questionId]/answer.tsx
  mobile/components/ContentWithSnippets.tsx
Labels: component: mobile

#570 [Deploy] Test deploy
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/TagController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GetAnswersResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GetQuestionDetailsResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Tag.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/User.java
  backend/src/main/java/com/group1/programminglanguagesforum/Exceptions/ExceptionResponseHandler.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/VoteRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/AnswerService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/QuestionService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/TagService.java
  backend/src/test/java/com/group1/programminglanguagesforum/Services/TagServiceTests.java
  dev.yml
  frontend/package.json
  frontend/src/components/ContentWithSnippets.tsx
  frontend/src/components/CreateTagForm.test.tsx
  frontend/src/components/CreateTagForm.tsx
  frontend/src/components/CreateTagPage.test.tsx
  frontend/src/components/CreateTagPage.tsx
  frontend/src/components/NavbarLayout.tsx
  frontend/src/components/Tags.tsx
  frontend/src/components/multi-select.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/routes/create-question.tsx
  frontend/src/routes/index.tsx
  frontend/yarn.lock
  mobile/app/question/[questionId].tsx
  mobile/app/question/[questionId]/answer.tsx
  mobile/components/ContentWithSnippets.tsx
Labels: component: backend, component: frontend

#572 [FE] Implement Feed Page
  frontend/src/App.test.tsx
  frontend/src/routes/feed.tsx
  frontend/src/routes/home.test.tsx
  frontend/src/routes/home.tsx
  frontend/src/routes/login.test.tsx
Labels: priority: critical, component: frontend

#573 [Deploy] Test deploy
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/SelfProfileResponseDto.java
  frontend/src/App.test.tsx
  frontend/src/routes/feed.tsx
  frontend/src/routes/home.test.tsx
  frontend/src/routes/home.tsx
  frontend/src/routes/login.test.tsx
  mobile/.expo/types/router.d.ts
  mobile/app/(tabs)/profile.tsx
  mobile/app/question/new.tsx
Labels: component: backend, component: frontend
