Repository bounswe/bounswe2024group1, pull requests merged in 2024-04, with the labels that each got.

#75 (backend) Authentication and authorization functionality implemented
  backend/.gitignore
  backend/.mvn/wrapper/maven-wrapper.jar
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/com/group1/cuisines/CuisinesApplication.java
  backend/src/main/java/com/group1/cuisines/config/JwtAuthenticationFilter.java
  backend/src/main/java/com/group1/cuisines/config/SecurityConfiguration.java
  backend/src/main/java/com/group1/cuisines/controllers/AuthenticationController.java
  backend/src/main/java/com/group1/cuisines/dao/request/SignInRequest.java
  backend/src/main/java/com/group1/cuisines/dao/request/SignUpRequest.java
  backend/src/main/java/com/group1/cuisines/dao/response/ApiResponse.java
  backend/src/main/java/com/group1/cuisines/dao/response/AuthenticationTokenResponse.java
  backend/src/main/java/com/group1/cuisines/entities/User.java
  backend/src/main/java/com/group1/cuisines/repositories/UserRepository.java
  backend/src/main/java/com/group1/cuisines/services/AuthenticationService.java
  backend/src/main/java/com/group1/cuisines/services/JwtService.java
  backend/src/main/java/com/group1/cuisines/services/UserService.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/group1/cuisines/AuthenticationControllerTest.java
  backend/src/test/java/com/group1/cuisines/CuisinesApplicationTests.java
Labels: type: enhancement, priority: high, component: backend

#89 Initialize the front-end with best practices
  frontend/.dockerignore
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/.husky/pre-commit
  frontend/.nvmrc
  frontend/.prettierrc
  frontend/.yarnrc.yml
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/README.md
  frontend/components.json
  frontend/docker-compose.dev.yml
  frontend/docker-compose.yml
  frontend/index.html
  frontend/nginx/nginx.conf
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/index.css
  frontend/src/lib/utils.ts
  frontend/src/main.tsx
  frontend/src/routes/home.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/login.tsx
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
  frontend/yarn.lock
Labels: component: frontend

#90 Write Readme backend instructions
  backend/README.md
Labels: type: documentation, priority: high, component: backend

#115 Add deployment instructions
  README.md
Labels: type: documentation
