Repository bounswe/bounswe2024group1, pull requests merged in 2024-10, with the labels that each got.

#356 Setup local dev environment
  .yarnrc
  CONTRIBUTING.md
  README.md
  compose.yml
  dev.yml
  mock.yml
  package.json
Labels: priority: medium, component: devops

#360 Set Up Backend
  .github/workflows/backend_test.yml
  backend/.gitignore
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/Dockerfile.dev
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/TestController.java
  backend/src/main/java/com/group1/programminglanguagesforum/ProgrammingLanguagesForumApplication.java
  backend/src/main/resources/application-docker.properties
  backend/src/main/resources/application.properties
  backend/src/main/resources/banner.txt
  backend/src/test/java/com/group1/programminglanguagesforum/ProgrammingLanguagesForumApplicationTests.java
Labels: component: backend

#372 Create Answer & Question Card
  .github/workflows/frontend_test.yml
  .gitignore
  .yarnrc
  .yarnrc.yml
  frontend/.husky/pre-commit
  frontend/package.json
  frontend/src/components/AnswerCard.tsx
  frontend/src/components/QuestionCard.tsx
  frontend/src/index.css
  frontend/yarn.lock
  package.json
  yarn.lock
Labels: component: frontend

#374 Implement continuous deployment
  .do/app-prod.yml
  .do/app-staging.yml
  .github/workflows/backend_test.yml
  .github/workflows/frontend_test.yml
  .github/workflows/prod_deploy.yml
  .gitignore
  .yarnrc
  .yarnrc.yml
  README.md
  backend/Dockerfile
  backend/mvnw
  compose.yml
  dev.yml
  frontend/.husky/pre-commit
  frontend/package.json
  frontend/src/components/AnswerCard.tsx
  frontend/src/components/QuestionCard.tsx
  frontend/src/index.css
  frontend/yarn.lock
  package.json
  yarn.lock
Labels: component: devops

#381 Feature/380 implement security filters custom jwt filter for authentication
  .github/pull_request_template.md
  backend/pom.xml
  backend/src/main/java/com/group1/programminglanguagesforum/Config/CorsConfig.java
  backend/src/main/java/com/group1/programminglanguagesforum/Config/SecurityConfiguration.java
  backend/src/main/java/com/group1/programminglanguagesforum/ProgrammingLanguagesForumApplication.java
  backend/src/main/resources/banner.txt
Labels: type: enhancement, component: backend

#384 Feature/383 custom security filter jwt implementation
  backend/pom.xml
  backend/src/main/java/com/group1/programminglanguagesforum/Config/JwtAuthenticationFilter.java
  backend/src/main/java/com/group1/programminglanguagesforum/Config/SecurityConfiguration.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/User.java
  backend/src/main/java/com/group1/programminglanguagesforum/ProgrammingLanguagesForumApplication.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/UserRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/CustomUserDetailsService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/JwtService.java
  backend/src/main/resources/application.properties
Labels: priority: high, component: backend

#388 Implemented generic request & response DTOs for authentication.
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Requests/SigninRequestDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Requests/SignupRequestDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GenericApiResponse.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/SigninResponse.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/SignupResponse.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/User.java
Labels: priority: high, component: backend

#389 Implement signup flow.
  backend/src/main/java/com/group1/programminglanguagesforum/Config/SecurityConfiguration.java
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/AuthenticationController.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/BaseController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/ErrorResponse.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/GenericApiResponse.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/SigninResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/SignupResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/User.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/AuthenticationService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/JwtService.java
Labels: type: enhancement, priority: high, component: backend

#390 Implemented signin flow.
  backend/src/main/java/com/group1/programminglanguagesforum/Config/JwtAuthenticationFilter.java
  backend/src/main/java/com/group1/programminglanguagesforum/Config/SecurityConfiguration.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/AuthenticationController.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/AuthenticationService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/CustomUserDetailsService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/JwtService.java
Labels: type: enhancement, priority: high, component: backend

#382 feat: set up continuous deploy for mobile
  .github/workflows/mobile_deploy.yaml
  frontend/.husky/pre-commit
  mobile/.gitignore
  mobile/.yarn/install-state.gz
  mobile/app.json
  mobile/eas.json
Labels: component: devops, component: mobile

#392 Implemented user/me endpoint & also catching some exceptions thrown by secutiy
  backend/pom.xml
  backend/src/main/java/com/group1/programminglanguagesforum/Config/JwtAuthenticationFilter.java
  backend/src/main/java/com/group1/programminglanguagesforum/Config/ModelMapperConfig.java
  backend/src/main/java/com/group1/programminglanguagesforum/Config/SecurityConfiguration.java
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/UserController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/SelfProfileResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/User.java
  backend/src/main/java/com/group1/programminglanguagesforum/Exceptions/CustomAccessDeniedHandler.java
  backend/src/main/java/com/group1/programminglanguagesforum/Exceptions/CustomAuthenticationEntryPoint.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/JwtService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/UserContextService.java
  backend/src/main/resources/application.properties
Labels: type: enhancement, priority: high, component: backend

#394 Create Question Page
  archive/frontend/src/routes/recipe.tsx
  archive/swagger/openapi.yml
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ErrorAlert.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FollowButton.tsx
  frontend/src/components/NavbarLayout.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/question.test.tsx
  frontend/src/routes/question.tsx
  frontend/src/services/api/programmingForumComponents.ts
  frontend/src/services/api/programmingForumResponses.ts
  frontend/src/services/api/programmingForumSchemas.ts
  frontend/src/services/auth.tsx
  frontend/yarn.lock
  swagger/openapi.yml
Labels: component: frontend

#393 implemented signup and login pages and their tests, but signup couldn…
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/components/FollowButton.tsx
  frontend/src/components/NavbarLayout.tsx
  frontend/src/components/Profile.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/question.test.tsx
  frontend/src/routes/question.tsx
  frontend/src/routes/signup.test.tsx
  frontend/src/routes/signup.tsx
  frontend/src/services/api/programmingForumComponents.ts
  frontend/src/services/api/programmingForumFetcher.ts
  frontend/src/services/api/programmingForumResponses.ts
  frontend/src/services/api/programmingForumSchemas.ts
  frontend/yarn.lock
  swagger/openapi.yml
Labels: priority: high, status: has failing test, component: frontend

#399 Implemented users/{userId} GET endpoint
  backend/src/main/java/com/group1/programminglanguagesforum/Config/ModelMapperConfig.java
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/UserController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/UserProfileResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Exceptions/CustomAccessDeniedHandler.java
  backend/src/main/java/com/group1/programminglanguagesforum/Exceptions/CustomAuthenticationEntryPoint.java
  backend/src/main/java/com/group1/programminglanguagesforum/Exceptions/UnauthorizedAccessException.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/AuthenticationService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/UserContextService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/UserService.java
  backend/src/main/java/com/group1/programminglanguagesforum/Util/ApiResponseBuilder.java
Labels: component: backend

#400 Implemented users/{userId} PUT endpoint
  backend/src/main/java/com/group1/programminglanguagesforum/Config/SecurityConfiguration.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/UserController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Requests/UserProfileUpdateRequestDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Exceptions/UserNotFoundException.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/UserService.java
Labels: component: backend

#401 Implemented users/{userId}/follow POST endpoint
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/UserController.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/User.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/UserService.java
Labels: component: backend

#402 Implemented users/{userId}/unfollow DELETE endpoint
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/UserController.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/UserService.java
Labels: component: backend

#403 [FE] Implement Answer View
  frontend/src/components/AnswerItem.tsx
  frontend/src/components/Answers.test.tsx
  frontend/src/components/Answers.tsx
  frontend/src/components/NavbarLayout.tsx
  frontend/src/routes/question.test.tsx
  frontend/src/routes/question.tsx
  frontend/src/services/api/programmingForumComponents.ts
  frontend/src/services/api/programmingForumSchemas.ts
  swagger/openapi.yml
Labels: priority: high, component: frontend

#405 Fix/404 fix backend ci
  .github/workflows/backend_test.yml
  backend/src/main/java/com/group1/programminglanguagesforum/Config/SecurityConfiguration.java
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
Labels: component: backend, component: devops

#406 [FE] Implement Code Snippets
  frontend/package.json
  frontend/src/components/AnswerItem.tsx
  frontend/src/components/CodeSnippet.tsx
  frontend/src/components/ContentWithSnippets.tsx
  frontend/tailwind.config.cjs
  frontend/yarn.lock
  swagger/openapi.yml
Labels: component: frontend

#410 [BE] Feature/408 get followers
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/UserController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/UserSummaryDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/UserService.java
Labels: component: backend

#413 [Mobile] Search Page
  mobile/.expo/types/router.d.ts
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/search.tsx
  mobile/app/_layout.tsx
  mobile/app/search.tsx
  mobile/components/TagCard.tsx
  mobile/components/ui/card/styles.tsx
  mobile/tailwind.config.js
Labels: component: mobile

#415 hot fix
  .github/workflows/mobile_deploy.yaml
  frontend/src/routes/search.test.tsx
Labels: priority: low, component: frontend, component: mobile

#419 [FE] Implement Tag Page
  frontend/src/components/Tag.tsx
  frontend/src/components/TagCard.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/tag.tsx
Labels: priority: high, component: frontend

#426 [Devops] Shortened Backend Tests CI output
  .github/workflows/backend_test.yml
Labels: component: backend, component: devops

#431 [BE] Feature/425 self following
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/UserController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/UserProfileResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/UserService.java
Labels: component: backend

#440 Backend/feature/437 create tag entity
  backend/src/main/java/com/group1/programminglanguagesforum/Config/SecurityConfiguration.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/ProgrammingLanguagesTag.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/ProgrammingParadigmTag.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Tag.java
Labels: component: backend

#441 Question entity.
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Question.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/User.java
Labels: component: backend

#442 Answer Entity Created.
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Answer.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Question.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/User.java
Labels: component: backend

#443 [BE] feat(backend): implement code execution service
  backend/pom.xml
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/CodeExecutionConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/CodeExecutionController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Requests/CodeExecutionRequestDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/CodeExecutionResponseDTO.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/CodeExecutionService.java
Labels: component: backend

#450 Implemented POST question upvote functionality.
  backend/src/main/java/com/group1/programminglanguagesforum/Constants/EndpointConstants.java
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/VoteController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/QuestionUpvoteResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Answer.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Question.java
  backend/src/main/java/com/group1/programminglanguagesforum/Entities/Vote.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/AnswerRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/QuestionRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/TagRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Repositories/VoteRepository.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/VoteService.java
Labels: component: backend

#451 Backend/feature/449 implement POST question Downvote
  backend/src/main/java/com/group1/programminglanguagesforum/Controllers/VoteController.java
  backend/src/main/java/com/group1/programminglanguagesforum/DTOs/Responses/QuestionDownvoteResponseDto.java
  backend/src/main/java/com/group1/programminglanguagesforum/Services/VoteService.java
Labels: component: backend
